body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: rgb(143, 76, 0);
  font-size: 18px;
  background-image: url('./src/tileBackground.jpg');
}
body, a:link, a:visited, a:active{
  color: goldenrod;
}
.title, .addDancerButton, .lineUpButton {
  padding:5px 12px;
  float:right;
}

.lineUpButton {
  float: left;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border: 0 solid red;
  width:64px; height:64px;
  position: absolute;
  transition: all .25s;
}

.dancer.closeTo {
  filter: hue-rotate(120deg);
}

.dancer.moving {
  background-image: url('src/arrow.png');
  background-size: 64px;
  transition-duration: 0s;
}

.dancer.blink {
  background-image: url('src/bulb.png');
  width: 64px;
  height: 64px;
  background-size: 64px;
}

.linedUp .dancer {
  position: relative;
  margin: 5px;
}

.rotate {
  border: 0px solid blue;
  border-radius:0px;
  background-image: url('src/dizzyDancer.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

.dancefloor {
  display: block;
  position: relative;
}

.dancefloor.linedUp {
  display:flex;
  position: absolute;
  top: 100px;
  width:  100%;
}

.dancefloor div {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.dancefloor div.linedUp {
  display: flex;
  position: relative;
  padding: 25px;
}